
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<div class="row">
    <!-- Column -->
    @Html.Action("InstructorPanelPartial", "InstructorAnalysis")
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Yorumlar</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">İletişim</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Kurs Listesi</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                @Html.Action("CommentPartial", "InstructorAnalysis")
                <!--second tab-->
                <div class="tab-pane" id="profile" role="tabpanel">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Ad Soyad</strong>
                                <br>
                                <p class="text-muted">Saadet Çatak</p>
                            </div>
                            <div class="col-md-2 col-xs-6 b-r">
                                <strong>Telefon</strong>
                                <br>
                                <p class="text-muted">1234567890</p>
                            </div>
                            <div class="col-md-4 col-xs-6 b-r">
                                <strong>Email</strong>
                                <br>
                                <p class="text-muted">saadet@gmail.com</p>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <strong>Konum</strong>
                                <br>
                                <p class="text-muted">Konya</p>
                            </div>
                        </div>
                        <hr>
                        <p class="m-t-30">Yazılım alanında güncel müfredatımla eğitim vermeye devam ediyorum.</p>
                        <h4 class="font-medium m-t-30">Yetenek Listesi</h4>
                        <hr>

                        <h5 class="m-t-30">C# Programlama<span class="pull-right">90%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">.Net Core<span class="pull-right">80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">.Net MVC<span class="pull-right">70%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        
                    </div>
                </div>

                @Html.Action("CourseListByInstructor", "InstructorAnalysis")
</div>
