@model List<MyElearningProject.DAL.Entities.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
               Hakkımızda Listesi
                <br />
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Hakkımızda Başlığı</th>
                        <th>Hakkımızda Açıklaması</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AboutID</td>
                            <td>@item.Title</td>
                            <td>@item.Description</td>                          
                            <td>
                                <a href="/About/DeleteAbout/@item.AboutID" class="btn btn-outline-danger" id="DeleteBtn"
                                   onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
                            </td>
                            <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }
                </table>
                <a href="/About/AddAbout/" class="btn btn-outline-primary">Yeni Kategori Girişi</a>
            </div>
        </div>
    </div>
</div>