@model List<MyElearningProject.DAL.Entities.Subscribe>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Aboneler</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">Abone Listesi</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
        
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Mail</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.Mail</td>                           
                            <td>
                                <a href="/Subscribe/DeleteSubscribe/@item.SubscribeID" class="btn btn-outline-danger" id="DeleteBtn"
                                   onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
                            </td>
                            <td>
                                <a href="/Subscribe/UpdateSubscribe/@item.SubscribeID" class="btn btn-outline-success">Güncelle</a>
                            </td>
                        </tr>
                    }
                </table>
                
            </div>
        </div>
    </div>
</div>
