@model MyElearningProject.DAL.Entities.Student
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<br />
<div class="card pull-up ecom-card-1 bg-white container">
    <form asp-action="Index" method="post" enctype="multipart/form-data">
        <div class="text-center align-text-center justify-content-center">
            <img src="@Model.Image" style="height:350px; width:350px; border-radius:50%" />
            <br />
            
        </div>
        <br /><br />

        <label>Adınız Soyadınız </label>
        <input type="text" value="@Model.Name @Model.Surname" class="form-control" />
        <br /> <br />
        <label>Mail Adresiniz</label>
        <input type="text" value="@Model.Email" class="form-control" />
        <br /> <br />
        <label> Şifreniz</label>
        <input type="password" value="Password" class="form-control" />
        <br /> <br />
        <div class="form-group">
            <label>Profil Resmi Seçin</label>
            <input type="file" name="Image" />
            <br />
        </div>
        <button class="btn btn-primary">Bilgileri Güncelle</button>
        <br /><br />
    </form>

</div>